<header class="flex w-full h-full from-purple-800 via-indigo-800 to-blue-800 bg-gradient-to-r opacity-90 shadow-lg">
  <div class="h-full">
    <a
      routerLink="/"
      class="flex w-full h-full px-8 py-4 items-center text-xl text-white text-shadow-md">
      <span class="font-bold">Perfect</span>
      <span class="font-thin">/Game</span>
    </a>
  </div>

  <nav class="h-full flex">
    <a routerLink="/app/profile" class="flex h-full px-4 items-center text-white font-medium text-lg">
      Profile
    </a>
    <a routerLink="/app/profile" class="flex h-full px-4 items-center text-white font-medium text-lg">
      Profile
    </a>
  </nav>
</header>
