<div class="flex items-center justify-center h-screen"> 
  <!-- Card -->
  <div class="bg-white rounded-lg shadow-lg w-3/12">
    <div class="p-6">
      <span class="font-bold text-2xl">
        Sign In
      </span>
    </div>

    <hr />

    <div class="p-6">
      <div class="grid grid-cols-12 grid-rows-2 gap-2">
        <div class="col-span-9 order-1">
          <input
            class="border rounded-lg p-2 font-thin w-full text-sm"
            placeholder="Email"
            type="email"
          />
        </div>

        <div class="col-span-9 order-3">
          <input
            class="border rounded-lg p-2 font-thin w-full text-sm"
            placeholder="Password"
            type="password"
          />
        </div>

        <div class="col-span-3 row-span-2 order-2">
          <button class="h-full rounded-lg p-4 w-full text-sm text-white bg-gradient-to-br from-purple-500 to-indigo-500">
            Sign In
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Card -->
</div>
