<div class="container my-2">
  <div><a routerLink="/">App Component</a></div>
</div>

<div class="container my-2">
  <div><a routerLink="/layout">Layout Component</a></div>
  <div><a routerLink="/layout/health">Layout/Health Component</a></div>
  <div><a routerLink="/layout/example">Layout/Example Component</a></div>
</div>

<div class="container my-2">
  <div><a routerLink="/health">Health Component</a></div>
  <div><a routerLink="/example">Example Component</a></div>
</div>

<div>App Component</div>

<router-outlet></router-outlet>
